services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
    expose:
      - '3000'
    ports:
      - '3000:3000'
    command: ['bun', 'run', 'start']
